* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Snippet, serif, sans-serif;
}

.main {
    height: 100%;
    width: 400px;
    background: radial-gradient(#3C4135 35%, #f59b00 100%);
    border: 5px solid rgb(112, 109, 109);
    border-radius: 52px;
}

.profile {
    text-align: center;
}

.profile > h1, h2, p {
    margin: 10px;
}

.profile > h1, h2 {
    font-family: Mate SC;
    color: #CF7F20;
    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
}

.profile > img {
    border-radius: 20px;
    box-shadow: 7px 7px 9px black;
    margin-top: 4%;
    width: auto;
    height: 244px;
    border-radius: 10px, 10px;
}

.contact-buttons {
    text-align: center;
}

button:hover {
    color: #CF7F20;
}

#email_button, #linkedin_button {
    width: 115px;
    border: none;
    margin: 10px;
    padding: 3px;
    border-radius: 5px;
}

#email_button:hover {
    background-color: grey;
}

#linkedin_button:hover {
    background-color: #0077b5;
}

.about {
    padding: 0 30px;
}

#interests {
    padding-bottom: 20px;
}
 p {
    color: rgb(235, 193, 166);
 }