* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Snippet, serif, sans-serif;
}

.main {
    height: 700px;
    width: 500px;
    background-color: #3C4135;
    border-radius: 52px;
}

.profile {
    text-align: center;
}

.profile > h1, h2, p {
    margin: 10px;
}

.profile > h1, h2 {
    font-family: Mate SC;
    color: #CF7F20;
    text-shadow:
    3px 3px 0 #000,
    -3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
}

.profile > img {
    border-radius: 20px;
    box-shadow: 7px 7px 9px black;
    margin-top: 4%;
    width: auto;
    height: 244px;
    border-radius: 10px, 10px;
}

.contact-buttons > button{
 width: 20%;
 padding: 5px;
 margin-right: 5%;
 margin-left: 5%;
}

button:hover {
    color: #CF7F20;
}